* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: indianred;
    font-size: 50px;
    text-align: center;
    opacity: 0.5;
}

.list {
    margin: 0 auto;
    width: 400px;

    &__input {
        width: 100%;
        font-size: 20px;
        padding: 10px 10px 10px 40px;
        border: 1px solid rgba(0,0,0,0.3);
        box-shadow: 0px 7px 14px -7px black;
        position: relative;
        z-index: 10;

        &::placeholder {
            font-style: italic;
            opacity: 0.5;
        }

        &:focus {
            outline: none;
        }

        &:active {
            outline: none;
        }
    }

    &__items {
        position: relative;
        z-index: 20;
    }

    &__item {
        display: grid;
        grid-template-columns: 40px 1fr 40px;
        align-items: center;
        border-bottom: 1px solid rgba(0,0,0,0.3);
        border-right: 1px solid rgba(0,0,0,0.3);
        border-left: 1px solid rgba(0,0,0,0.3);
        background-color: #fff;

        &:hover {
            .list__item-button {
                display: block;
            }
        }

        &-checkbox {
            margin: 0;
            display: block;
            height: 25px;
            width: 25px;
            opacity: 0.0;
            z-index: 100;

            &-label {
                width: 25px;
                height: 25px;
                margin: 0 auto;
                border: 1px solid rgba(0,0,0,0.3);
                border-radius: 50%;
                position: relative;
            }

            &-mark {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                text-align: center;
                opacity: 0.0;
                color: green;
                z-index: 0;
            }

            &:checked + .list__item-checkbox-mark {
                opacity: 1.0;
            }
        }

        &-text {
            &-done {
                text-decoration: line-through;
                opacity: 0.5;
                font-style: italic;
            }
        }

        &-button {
            display: none;
            margin: 0 auto;
            padding: 0;
            width: 25px;
            border: none;
            background: none;
            font-size: 25px;
            color: darkred;
            cursor: pointer;
            line-height: 20px;

            &:focus {
                outline: none;
            }
    
            &:active {
                outline: none;
                opacity: 0.6;
            }
        }
    }
}